/* ===========================================
	Fonts
=========================================== */

@font-face { src: url('../fonts/Yekan.woff'); font-family: 'Yekan'; }
@font-face { src: url('../fonts/Calibri.ttf'); font-family: 'Calibri'; }

/* ===========================================
	General Styles
=========================================== */

body {
	font-family: 'Yekan', 'Calibri';
}

select {
	font-family: 'Yekan', 'Calibri', 'FontAwesome';
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none !important;
}

.hidden {
	display: none;
}

.fa-half-x {
	font-size: 1.5em;
}

.btn {
	padding: 3px 30px;
}

input[disabled] {
	cursor: not-allowed;
}

/* ===========================================
	global
=========================================== */

.mirror-rotate {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.rotate {
	transform: rotate(90deg);
}

.flash-message {
	position: fixed;
	bottom: 50px;
	left: 25px;
	background-color: #35404B;
	border: 1px solid #335787;
	border-radius: 4px;
	padding: 10px 20px;
	color: #fff;
}

.flash-message.error, .flash-message.error > i {
	background-color: #e3342f;
	border: 1px solid #d0514d;
}

.flash-message > i {
	position: absolute;
	top:-10px;
	left: -10px;
	background-color: #35404B;
	border: 1px solid #335787;
	border-radius: 100%;
	padding: 5px 6px;
	cursor: pointer;
}

.pointer, [data-check], [onclick] {
	cursor: pointer;
}

.bottom-0 {
	bottom: 0 !important;
}

/* ===========================================
	widths
=========================================== */

.w-30 { width: 30% }
.w-70 { width: 70% }
.w-33 { width: 33% }

/* ===========================================
	forms
=========================================== */
.form-header {
	background-color: #35404B;
	text-align: center;
	height: 60px;
	padding-top: 12px;
}

.header-panel {
	list-style-type: none;
}

.header-panel > li {
	display: inline-block;
	margin: 0px 5px;
	color: #fff;
}

.header-panel > li:not(:last-child):after {
	content: '\f104';
	font-family: FontAwesome;
	margin-right: 10px;
	font-size: 1.5em;
}

.header-panel > li > a {
	color: #fff;
	font-size: 1.15em;
}

.header-panel > li > a:hover, .header-panel > li.active > a {
	color: #0094AB;
}

.edit-form-header-input {
	background-color: inherit;
	display: inline-block;
	width: 200px;
	border: 0.5px solid #333;
	border-radius: 5px;
	margin-right:10px;
	color:#fff;
	padding: 5px 15px;
}

.edit-form-header-input:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	border: 0.5px solid #0094B5;
	outline: none;
}

.form-panel {
	position: fixed;
	top: 60px;
	bottom: 66px;
	right: 0;
	left: 70%;
	overflow-y: auto;
	border-left: 1px solid #aaa;
}

.form-options {
	text-align: center;
	padding: 10px 5px;
}
.form-options > a {
	display: inline-block;
	text-align: center;
	background-color: #f0f0f0;
	border: 1px solid #aaa4a9;
	border-radius : 2px;
	color: #333;
	height: 30px;
	margin: 11px 5px;
	width: 170px;
}

.form-options > a.disabled, .form-options > a.disabled:hover {
	cursor: context-menu;
	color: #aaa;
}

.form-options > a:first-child, .form-options > a:last-child {
	display: block;
	width:calc(100% - 10px);
}

.form-panel-footer, .form-panel-actions {
	position: fixed;
	bottom:0;
	right: 0;
	left: 70%;
	height: 66px;
	padding: 20px;
}

.form-panel-footer {
	background-color: #F0F0F0;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

.form-panel-actions {
	background-color: #35404B;
	text-align: left;
}

.form-body {
	position:fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	right: 30%;
	overflow-y: auto;
}

.form-main {
	background-color: #F0F0F0;
}

.form-preview {
	background-color: #FFF;
	display: flex;
  	align-items: center;
}

.form-map {
	padding: 30px 0px;
	text-align: center;
}

.form-map .white-card {
	display: block;
	text-align: right;
	background-color: #fff;
	border-bottom: 1px solid #bebebe;
	font-size: 16px;
}

.white-card-header, .white-card-footer {
	padding: 20px 30px 20px 60px;
}

.form-map .white-card .add-points {
	position: relative;
	bottom: 4px;
}

.form-map .white-card .redirect-to-edit {
	color: #000;
	display: block;
}

.form-map .white-card:first-child {
	border-top: 1px solid #bebebe;
}

.form-map .white-card:hover {
	box-shadow: -4px 0px 14px 2px rgb(189, 189, 189);
}

.form-map .white-card .rotate {
	cursor: all-scroll;
}

.header-footer, .question-type {
	border-width: 2px;
	border-style: dashed;
	border-radius: 4px;
	margin: 0px 20px 60px 20px;
	padding: 15px;
}

.form-map .header-footer {
	color: #4DA7C9;
	border-color:#8AA2B5;
}

.form-map .question-type {
	color: #888;
	border-color:#999;
}

.stick-left {
	position: absolute;
	left: 10px;
}

.form-list-item {
	display: inline-block;
	width: 60%;
	margin: 10px 30px;
	padding: 20px;
}

.form-list-item:hover {
	background-color: #dcf1fa;
	cursor: pointer;
	border-color : 1px solid #dcf1fa;
	border-radius : 5px;
}

.preview-img {
	max-height: 300px;
	max-width: 100%;
    width: auto;
    height: auto;
}

#preview {
	width:100%;
	padding: 20px 70px;
}

#preview > h4 {
	margin-top: 30px;
}

.porsline {
	display: block;
	width: 60%;
	line-height: 160%;
	border: 2px dashed #bbb;
	background-color: transparent;
	border-radius: 5px;
	margin-top: 15px;
}

.porsline:focus {
	outline: none;
}

.porsline-input {
	padding: 0px 20px;
	height: 50px;
}

.porsline-textarea {
	padding: 10px 20px;
	height: 110px;
}

#display-choices > p {
	display: inline-block;
	position: relative;
	margin: 5px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	padding: 0 12px 0px 30px;
	cursor: pointer;
	min-width: 120px;
}

#display-choices > p:hover {
	background-color: #E6E6E6;
	color: #000;
}

#display-choices > p > span {
	display: inline-block;
	border: 1px solid #9c9c9c;
	border-radius: 2px;
	margin: 5px 0 5px 5px;
	padding: 0px 5px;
}

#display-choices > p > i {
	color: #008000;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 10px;
}

#display-choices > p > img {
	max-width: 100px;
	margin: 10px;
}

.porsline-select {
	position: relative;
	max-width: 400px;
}

.porsline-select > label {
	position: absolute;
	left: 12px;
	top: 12px;
}

.porsline-select > input {
	transition: .5s;
	width: 100%;
}

.porsline-select > input:focus {
	border-color: #444;
}

.porsline-select-dropdown {
	display: none;
	max-height: 200px;
	overflow-y: auto;
}

.porsline-select-dropdown > p {
	background-color: #c8c8c8;
	color: #000;
	margin: 0;
	margin-top: 4px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 17px;
}

.porsline-select-dropdown > p:active {
	background-color: #fff;
	color: #fff;
}

[data-yield=title] > i {
	margin-right: 5px;
	font-size: 0.5em;
}

.porsline-range {
	width: 75%;
	margin-right: 50px;
	margin-top: 30px;
}

.display-range {
	display: flex;
}

.display-range > span {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-basis: 100%;
	border: 1px solid #d4d4d4;
	height: 50px;
	font-size: 18px;
	cursor: pointer;
	position: relative;
}

.display-range > span:hover {
	background-color: #e6e6e6;
	color: #000;
}

.display-range > span.selected {
	background-color: #118EB7;
}

.display-range > span.label:after {
    content:"";
    position: absolute;
    z-index: -1;
	top: 50px;
    bottom: -20px;
    left: 50%;
    border-left: 1px solid #bbb;
    transform: translate(-50%);
}

.porsline-degree > p {
	display: inline-block;
	text-align: center;
	margin: 0 6px;
}

.porsline-degree > p > span {
	display: inline-block;
	border: 1px solid #bebebe;
	padding: 0px 5px;
	margin-top: 8px;
}

.porsline-degree > p > i {
	display: block;
	font-size: 50px;
	color: #118EB7;
	cursor: pointer;
}

.fa-thumbs-up-o:before{
	 content: "\f087";
	 font-family: FontAwesome;
}

.periority-display {
	display: flex;
	flex-direction : column;
}

.periority-display > p {
	width: 500px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 12px;
}

.periority-display > p > i {
	transform: rotate(90deg);
	cursor: all-scroll;
}

.periority-display > p > span {
	display: inline-block;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 0 5px;
}

.fill-form-body {
	position: absolute;
	width: 100%;
	padding: 50px 80px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* ===========================================
	mobile switch
=========================================== */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Show Form Fill */
.fill-form-footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px;
}

/* Actions - Themes */
.action-li {
	position: relative;
	cursor: pointer;
	padding: 20px;
}

.action-li > i {
	position: absolute;
	left: 15px;
	top: 30px;
	font-size: 1.5em;
	color :#6D6D6D;
}

.action-li:hover {
	background-color: #DCEEFD;
}

.preview-iframe {
	width: 100%;
	height: 480px;
}

.preview-theme {
	text-align: center;
	padding: 10px 0px;
	border-radius: 10px;
	cursor: pointer;
	border: 3px solid #FFF;
}

.preview-theme:hover {
	border-color: #D3D3D3;
}

.preview-theme.active {
	border-color: #0070E0;
}

.preview-theme > span {
	display: inline-block;
	width: 40px;
	height: 20px;
	margin-top: 8px;
	border-radius: 4px;
}

.preview-theme-1 { background-color: #F1F1F1; color:#000; }
.preview-theme-1 > span { background-color: #118EB7; }

.preview-theme-2 { background-color: #2C2D40; color:#fff; }
.preview-theme-2 > span { background-color: #4A90E2; }

.preview-theme-3 { background-color: #EAEBFC; color:#794997; }
.preview-theme-3 > span { background-color: #794997; }

.preview-theme-4 { background-color: #303036; color:#fff; }
.preview-theme-4 > span { background-color: #38CFEA; }

.preview-theme-5 { background-color: #002A63; color:#fff; }
.preview-theme-5 > span { background-color: #F26321; }

.preview-theme-6 { background-color: #FED83D; color:#4A4A4A; }
.preview-theme-6 > span { background-color: #4A4A4A; }

.preview-theme-7 { background-color: #EAF2FC; color:#38CFEA; }
.preview-theme-7 > span { background-color: #38CFEA; }

.preview-theme-8 { background-color: #285975; color:#FBF7BC; }
.preview-theme-8 > span { background-color: #FBF7BC; }

.preview-theme-9 { background-color: #EFEFEF; color:#E82800; }
.preview-theme-9 > span { background-color: #E82800; }

.preview-theme-10 { background-color: #fff; color:#677584; }
.preview-theme-10 > span { background-color: #677584; }

.preview-theme-11 { background-color: #FFF3E8; color:#F27154; }
.preview-theme-11 > span { background-color: #F27154; }

.preview-theme-12 { background-color: #F5FDFF; color:#F2A082; }
.preview-theme-12 > span { background-color: #67CAE0; }

.preview-theme-13 { background-color: #74C19D; color:#fff; }
.preview-theme-13 > span { background-color: #FFC1A2; }

.preview-theme-14 { background-color: #C5E0DC; color:#DE7B62; }
.preview-theme-14 > span { background-color: #DE7B62; }


/* Actions - Results */

.nav-pills.porsline-pills > a {
	padding: 15px;
	color: #111;
	border-radius: 0;
}

.nav-pills.porsline-pills > a.active, .nav-pills.porsline-pills > a:hover {
	background-color: #DCF1FA;
	color: #1B9CBF;
}

.form-visits-statics > div {
	border: 1px solid #a8a8a8;
	padding: 20px;
	text-align: center;
}
